<div class="sidebar">
    <div class="logo">
        <h2>HOME</h2>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item"><a href="/home" class="nav-link">Home Page</a></li>
        <li class="nav-item"><a href="/myprofile" class="nav-link">Profile</a></li>           
        <li class="nav-item"><a href="/notification" class="nav-link">Notifications</a></li>
        <li class="nav-item"><a href="/myclub" class="nav-link">My Clubs</a></li>
        <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
    </ul>
</div>
